<!DOCTYPE html>
<html>
<head>
<title>实时数据</title>
<meta name="description" content="Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--Basic Styles-->
<link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="./assets/css/weather-icons.min.css" rel="stylesheet" />
<!--Beyond styles-->
<link href="./assets/css/beyond.min.css" rel="stylesheet" />
<link href="./assets/css/demo.min.css" rel="stylesheet" />
<link href="./assets/css/typicons.min.css" rel="stylesheet" />
<link href="./assets/css/animate.min.css" rel="stylesheet" />
<!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
<script src="./assets/js/skins.min.js"></script>
<style type="text/css">
body, html, #allmap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	font-family: "微软雅黑";
}
</style>
</head>
<body>
     <div id="allmap"></div>
     <div class="modal fade" role="dialog" aria-labelledby="msTitle" id="modal-success">
          <div class="modal-dialog" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                         <h3 class="modal-title text-center">
                              <span class="label label-success" id="msTitle"></span>
                         </h3>
                    </div>
                    <div class="modal-body text-center" id="msMessage"></div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
                    </div>
               </div>
          </div>
     </div>
     <div class="modal fade" role="dialog" aria-labelledby="mwTitle" id="modal-warning">
          <div class="modal-dialog" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                         <h3 class="modal-title text-center">
                              <span class="label label-warning" id="mwTitle"></span>
                         </h3>
                    </div>
                    <div class="modal-body text-center" id="mwMessage"></div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-warning" data-dismiss="modal">确定</button>
                    </div>
               </div>
          </div>
     </div>
     <!--Basic Scripts-->
     <script src="./assets/js/jquery.min.js"></script>
     <script src="./assets/js/bootstrap.min.js"></script>
     <script src="./assets/js/slimscroll/jquery.slimscroll.min.js"></script>
     <!--Beyond Scripts-->
     <script src="./assets/js/beyond.min.js"></script>
     <!--Page Related Scripts-->
     <script src="./assets-view/comm/commDataTables.js"></script>
     <script src="./assets-view/hb/hbnodemap-tree.js"></script>
     <script src="./assets-view/hb/hbnodemap.js"></script>
</body>
</html>
