<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>类别管理</title>
<meta name="description" content="Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--DataTables Styles-->
<link rel="stylesheet" href="./dataTables/Bootstrap-3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="./dataTables/DataTables-1.10.11/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="./dataTables/Buttons-1.1.2/css/buttons.bootstrap.min.css">
<link rel="stylesheet" href="./dataTables/Select-1.1.2/css/select.bootstrap.min.css">
<link rel="stylesheet" href="./dataTables/Editor-1.5.5/css/editor.bootstrap.min.css">
<!--  -->
<link rel="stylesheet" href="./assets/css/beyond.min.css">
<link rel="stylesheet" href="./assets/css/font-awesome.min.css">
<style type="text/css">
.table>tbody>tr>td, .table>tbody>tr>th {
	padding: 4px;
}

.table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th,
	.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid black;
}
</style>
</head>
<body>
     <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
               <div class="widget flat radius-bordered">
                    <div class="widget-body">
                         <table id="table-type" class="table table-striped table-bordered" cellspacing="0" width="100%">
                              <thead>
                                   <tr id="table-type-columns">
                                   </tr>
                              </thead>
                         </table>
                    </div>
               </div>
          </div>
     </div>
     <div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-header">
                         <i class="glyphicon glyphicon-check"></i>
                    </div>
                    <div class="modal-title" id="msTitle"></div>
                    <div class="modal-body" id="msMessage"></div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
                    </div>
               </div>
          </div>
     </div>
     <div id="modal-warning" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-header">
                         <i class="fa fa-warning"></i>
                    </div>
                    <div class="modal-title" id="mwTitle"></div>
                    <div class="modal-body" id="mwMessage"></div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-warning" data-dismiss="modal">确定</button>
                    </div>
               </div>
          </div>
     </div>
     <!-- DataTables Script -->
     <script src="./dataTables/jQuery-2.2.0/jquery-2.2.0.min.js"></script>
     <script src="./dataTables/Bootstrap-3.3.6/js/bootstrap.min.js"></script>
     <script src="./dataTables/DataTables-1.10.11/js/jquery.dataTables.min.js "></script>
     <script src="./dataTables/DataTables-1.10.11/js/dataTables.bootstrap.min.js"></script>
     <script src="./dataTables/Buttons-1.1.2/js/dataTables.buttons.min.js"></script>
     <script src="./dataTables/Buttons-1.1.2/js/buttons.bootstrap.min.js"></script>
     <script src="./dataTables/Select-1.1.2/js/dataTables.select.min.js"></script>
     <script src="./dataTables/Editor-1.5.5/js/dataTables.editor.min.js"></script>
     <script src="./dataTables/Editor-1.5.5/js/editor.bootstrap.min.js"></script>
     <!--  -->
     <!-- Print Script -->
     <script src="./dataTables/JSZip-2.5.0/jszip.min.js"></script>
     <script src="./dataTables/pdfmake-0.1.18/build/pdfmake.min.js"></script>
     <script src="./dataTables/pdfmake-0.1.18/build/vfs_fonts.js"></script>
     <script src="./dataTables/Buttons-1.1.2/js/buttons.html5.min.js"></script>
     <script src="./dataTables/Buttons-1.1.2/js/buttons.print.min.js"></script>
     <!--  -->
     <script src="./assets/js/beyond.js"></script>
     <script src="./assets/js/bootbox/bootbox.js"></script>
     <script src="./assets-view/hb/hbtypecfg.js"></script>
</body>
</html>