<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off">
	<properties>
		<property name="LOG_HOME">c:/logs</property>
		<property name="PATTENR">## 【%-5level】 %d{yyyy-MM-dd HH:mm:ss} %C.%M(L:%L)%n>>%msg%n</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTENR}"/>
		</Console>
		<RollingFile name="c3p0" fileName="${LOG_HOME}/c3p0/c3p0.log" filePattern="${LOG_HOME}/c3p0/$${date:yyyy-MM}/c3p0-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}"/>
			<SizeBasedTriggeringPolicy size="2 MB"/>
		</RollingFile>
		<RollingFile name="mybatis" fileName="${LOG_HOME}/mybatis/mybatis.log" filePattern="${LOG_HOME}/mybatis/$${date:yyyy-MM}/mybatis-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}"/>
			<SizeBasedTriggeringPolicy size="2 MB"/>
		</RollingFile>
		<RollingFile name="service" fileName="${LOG_HOME}/service/service.log" filePattern="${LOG_HOME}/service/$${date:yyyy-MM}/service-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}"/>
			<SizeBasedTriggeringPolicy size="2 MB"/>
		</RollingFile>
		<RollingFile name="data" fileName="${LOG_HOME}/data/data.log" filePattern="${LOG_HOME}/data/$${date:yyyy-MM}/data-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}"/>
			<SizeBasedTriggeringPolicy size="2 MB"/>
		</RollingFile>
		<RollingFile name="communication" fileName="${LOG_HOME}/communication/communication.log" filePattern="${LOG_HOME}/communication/$${date:yyyy-MM}/communication-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}"/>
			<SizeBasedTriggeringPolicy size="2 MB"/>
		</RollingFile>
		<RollingFile name="schedule" fileName="${LOG_HOME}/schedule/schedule.log" filePattern="${LOG_HOME}/schedule/$${date:yyyy-MM}/schedule-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}"/>
			<SizeBasedTriggeringPolicy size="2 MB"/>
		</RollingFile>
		<RollingFile name="dealMessage212" fileName="${LOG_HOME}/dealMessage212/dealMessage212.log" filePattern="${LOG_HOME}/dealMessage212/$${date:yyyy-MM}/dealMessage212-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}"/>
			<SizeBasedTriggeringPolicy size="2 MB"/>
		</RollingFile>
		<RollingFile name="test" fileName="${LOG_HOME}/test/test.log" filePattern="${LOG_HOME}/test/$${date:yyyy-MM}/test-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}"/>
			<SizeBasedTriggeringPolicy size="2 MB"/>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="Console"/>
		</root>
		<logger name="com.mchange.v2" level="debug" additivity="true">
			<appender-ref ref="c3p0"/>
		</logger>
		<logger name="org.apache.ibatis" level="debug" additivity="true">
			<appender-ref ref="mybatis"/>
		</logger>
		<logger name="com.aps.monitor.service.impl" level="debug" additivity="true">
			<appender-ref ref="service"/>
		</logger>
		<logger name="com.aps.monitor.data" level="debug" additivity="true">
			<appender-ref ref="data"/>
		</logger>
		<logger name="com.aps.monitor.communication" level="debug" additivity="true">
			<appender-ref ref="communication"/>
		</logger>
		<logger name="com.aps.monitor.schedule" level="debug" additivity="true">
			<appender-ref ref="schedule"/>
		</logger>
		<logger name="com.aps.monitor.service.impl.DealMessage212" level="debug" additivity="true">
			<appender-ref ref="dealMessage212"/>
		</logger>
		<logger name="com.aps.monitor.test" level="trace" additivity="true">
			<appender-ref ref="test"/>
		</logger>
	</loggers>
</configuration>