<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off">
	<properties>
		<property name="LOG_HOME">d:/logs</property>
		<property name="PATTENR">## 【%-5level】 %d{yyyy-MM-dd HH:mm:ss} %C.%M(L:%L)%n>>%msg%n</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTENR}" />
		</Console>
		<RollingFile name="c3p0" fileName="${LOG_HOME}/c3p0/c3p0.log" filePattern="${LOG_HOME}/c3p0/$${date:yyyy-MM}/c3p0-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}" />
			<SizeBasedTriggeringPolicy size="2 MB" />
		</RollingFile>
		<RollingFile name="mybatis" fileName="${LOG_HOME}/mybatis/mybatis.log" filePattern="${LOG_HOME}/mybatis/$${date:yyyy-MM}/mybatis-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}" />
			<SizeBasedTriggeringPolicy size="2 MB" />
		</RollingFile>
		<RollingFile name="controller" fileName="${LOG_HOME}/controller/controller.log" filePattern="${LOG_HOME}/controller/$${date:yyyy-MM}/controller-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}" />
			<SizeBasedTriggeringPolicy size="2 MB" />
		</RollingFile>
		<RollingFile name="test" fileName="${LOG_HOME}/test/test.log" filePattern="${LOG_HOME}/test/$${date:yyyy-MM}/test-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="${PATTENR}" />
			<SizeBasedTriggeringPolicy size="2 MB" />
		</RollingFile>
	</appenders>
	<loggers>
		<root level="trace">
			<appender-ref ref="Console" />
		</root>
		<logger name="com.mchange.v2" level="trace" additivity="true">
			<appender-ref ref="c3p0" />
		</logger>
		<logger name="org.apache.ibatis" level="debug" additivity="true">
			<appender-ref ref="mybatis" />
		</logger>
		<logger name="com.aps.monitor.controller" level="trace" additivity="true">
			<appender-ref ref="controller" />
		</logger>
		<logger name="com.aps.monitor.test" level="trace" additivity="true">
			<appender-ref ref="test" />
		</logger>
	</loggers>
</configuration>