<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J2"/>
	</settings>
	<mappers>
		<mapper resource="mapper/ComCodeMapper.xml"/>
		<mapper resource="mapper/ComFormMapper.xml"/>
		<mapper resource="mapper/ComFormRightsMapper.xml"/>
		<mapper resource="mapper/ComMenuMapper.xml"/>
		<mapper resource="mapper/ComOrgMapper.xml"/>
		<mapper resource="mapper/ComOrgFormMapper.xml"/>
		<mapper resource="mapper/ComOrgFormRightsMapper.xml"/>
		<mapper resource="mapper/ComPersonMapper.xml"/>
		<mapper resource="mapper/ComPersonOrgMapper.xml"/>
		<mapper resource="mapper/ComFormMapper.xml"/>
		<mapper resource="mapper/ComPageShowMapper.xml"/>
		<mapper resource="mapper/ComResorceMapper.xml"/>
		<mapper resource="mapper/HbTypeMapper.xml"/>
		<mapper resource="mapper/HbTypeItemMapper.xml"/>
		<mapper resource="mapper/HbNodeMapper.xml"/>
		<mapper resource="mapper/HbDataTableMapper.xml"/>
		<mapper resource="mapper/HbDataLatestMapper.xml"/>
		<mapper resource="mapper/HbDataModeMapper.xml"/>
		<mapper resource="mapper/HbDataRecordMapper.xml"/>
	</mappers>
</configuration>